In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 21:06:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Question 1: Spark Version
spark.version

'3.5.1'

In [4]:
fhv_schema = types.StructType([
    types.StructField("dispatching_base_num", types.StringType(), True),
    types.StructField("pickup_datetime", types.TimestampType(), True),
    types.StructField("dropOff_datetime", types.TimestampType(), True),
    types.StructField("PUlocationID", types.IntegerType(), True),
    types.StructField("DOlocationID", types.IntegerType(), True),    
    types.StructField("SR_Flag", types.StringType(), True),
    types.StructField("Affiliated_base_number", types.StringType(), True)
])

In [5]:
df = spark.read \
    .option("header", "true") \
    .schema(fhv_schema) \
    .csv('fhv_tripdata_2019-10.csv.gz')

df = df.repartition(6)

df.write.parquet('data/pq/fhvhv/2019/10/', mode='overwrite')

In [20]:
# Question 2: Average size for each parquet partition
!ls -lh data/pq/fhvhv/2019/10

total 39M
-rw-r--r-- 1 swong swong    0 Mar  4 21:12 _SUCCESS
-rw-r--r-- 1 swong swong 6.4M Mar  4 21:12 part-00000-21811eb7-6be5-4214-8949-807157529877-c000.snappy.parquet
-rw-r--r-- 1 swong swong 6.4M Mar  4 21:12 part-00001-21811eb7-6be5-4214-8949-807157529877-c000.snappy.parquet
-rw-r--r-- 1 swong swong 6.4M Mar  4 21:12 part-00002-21811eb7-6be5-4214-8949-807157529877-c000.snappy.parquet
-rw-r--r-- 1 swong swong 6.4M Mar  4 21:12 part-00003-21811eb7-6be5-4214-8949-807157529877-c000.snappy.parquet
-rw-r--r-- 1 swong swong 6.4M Mar  4 21:12 part-00004-21811eb7-6be5-4214-8949-807157529877-c000.snappy.parquet
-rw-r--r-- 1 swong swong 6.4M Mar  4 21:12 part-00005-21811eb7-6be5-4214-8949-807157529877-c000.snappy.parquet

**Q3**: How many taxi trips were there on February 15?

In [26]:
from pyspark.sql import functions as F

In [27]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

In [28]:
df.registerTempTable('fhvhv_2019_10')

/home/swong/spark/spark-3.5.1-bin-hadoop3/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [52]:
# Question 3: Row Count on October 15th, 2019
spark.sql("""
SELECT
    COUNT(*)
FROM 
    fhvhv_2019_10
WHERE
    to_date(pickup_datetime) = '2019-10-15';
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [30]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [38]:
# Question 4: Longest trip in October
spark.sql("""
SELECT
    to_date(pickup_datetime) as pickup_date,
    (unix_timestamp(dropOff_datetime) - unix_timestamp(pickup_datetime))/(60*60) as length_hours
FROM fhvhv_2019_10
ORDER BY length_hours DESC LIMIT 3
""").show()

+-----------+-----------------+
|pickup_date|     length_hours|
+-----------+-----------------+
| 2019-10-11|         631152.5|
| 2019-10-28|         631152.5|
| 2019-10-31|87672.44083333333|
+-----------+-----------------+

In [41]:
df_zones = spark.read.parquet('zones')

In [42]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [43]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [44]:
df_zones.registerTempTable('zones')

In [46]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [47]:
df_result = df.join(df_zones, df.PUlocationID == df_zones.LocationID)

In [48]:
df_result.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+----------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|LocationID|  Borough|            Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+----------------+------------+
|              B02653|2019-10-08 13:53:21|2019-10-08 13:56:24|         264|         247|   NULL|                B02653|       264|  Unknown|              NV|         N/A|
|              B00837|2019-10-12 08:20:51|2019-10-12 08:32:35|         264|         264|   NULL|                B00837|       264|  Unknown|              NV|         N/A|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   NULL|                B01315|       264|  Unknown|              NV|         N/A|
|              B00789|2019-10-23 00:56:36|2019-10-23 01:33:24|         264|         264|   NULL|                B00789|       264|  Unknown|              NV|         N/A|
|              B00937|2019-10-18 11:03:47|2019-10-18 11:22:46|         264|          75|   NULL|                B00937|       264|  Unknown|              NV|         N/A|
|              B03060|2019-10-18 16:31:09|2019-10-18 16:35:05|         264|          22|   NULL|                B02825|       264|  Unknown|              NV|         N/A|
|              B03033|2019-10-20 02:59:38|2019-10-20 03:04:52|         264|          36|   NULL|                B03033|       264|  Unknown|              NV|         N/A|
|              B01231|2019-10-11 13:19:24|2019-10-11 14:04:19|         264|          17|   NULL|                B02872|       264|  Unknown|              NV|         N/A|
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   NULL|                B02688|       264|  Unknown|              NV|         N/A|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   NULL|                B01029|       264|  Unknown|              NV|         N/A|
|              B00531|2019-10-19 16:31:08|2019-10-19 16:42:32|          22|          21|   NULL|                B00531|        22| Brooklyn|Bensonhurst West|   Boro Zone|
|              B02795|2019-10-13 14:09:00|2019-10-13 16:02:57|         222|          47|   NULL|                B02795|       222| Brooklyn|   Starrett City|   Boro Zone|
|              B01194|2019-10-19 23:05:22|2019-10-19 23:15:58|         264|          36|   NULL|                B01194|       264|  Unknown|              NV|         N/A|
|              B01367|2019-10-15 07:26:39|2019-10-15 09:02:33|         137|         265|   NULL|                B01367|       137|Manhattan|        Kips Bay| Yellow Zone|
|              B02138|2019-10-06 14:02:19|2019-10-06 14:14:22|         264|          14|   NULL|                B02138|       264|  Unknown|              NV|         N/A|
|              B00111|2019-10-10 21:55:00|2019-10-10 22:34:46|         264|         230|   NULL|                B00111|       264|  Unknown|              NV|         N/A|
|              B02472|2019-10-16 14:12:36|2019-10-16 14:35:00|         264|         157|   NULL|                B02472|       264|  Unknown|              NV|         N/A|
|              B01239|2019-10-13 07:53:40|2019-10-13 07:57:16|         264|         254|   NULL|                B02872|       264|  Unknown|              NV|         N/A|
|              B03016|2019-10-07 13:50:21|2019-10-07 14:01:25|         264|         265|   NULL|                B02871|       264|  Unknown|              NV|         N/A|
|              B02111|2019-10-08 14:58:52|2019-10-08 15:40:41|          98|          79|   NULL|                B02111|        98|   Queens|   Fresh Meadows|   Boro Zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+---------+----------------+------------+
only showing top 20 rows

In [50]:
df_result.registerTempTable('fhv_trips_zones')

In [51]:
# Question 6. Least frequent pickup location zone
spark.sql("""        
SELECT
    zone as pickup_zone,
    count(*) as frequency
FROM fhv_trips_zones
GROUP BY 1
ORDER BY 2
""").show()

+--------------------+---------+
|         pickup_zone|frequency|
+--------------------+---------+
|         Jamaica Bay|        1|
|Governor's Island...|        2|
| Green-Wood Cemetery|        5|
|       Broad Channel|        8|
|     Highbridge Park|       14|
|        Battery Park|       15|
|Saint Michaels Ce...|       23|
|Breezy Point/Fort...|       25|
|Marine Park/Floyd...|       26|
|        Astoria Park|       29|
|    Inwood Hill Park|       39|
|       Willets Point|       47|
|Forest Park/Highl...|       53|
|  Brooklyn Navy Yard|       57|
|        Crotona Park|       62|
|        Country Club|       77|
|     Freshkills Park|       89|
|       Prospect Park|       98|
|     Columbia Street|      105|
|  South Williamsburg|      110|
+--------------------+---------+
only showing top 20 rows

In [53]:
spark.stop()